@charset "UTF-8";

/* CONFIGURAÇÃO GLOBAL */
* {
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Para centralizar verticalmente */
    background-color: rgba(0, 0, 0, 0.7);
}
div#texto {
    width: 700px; /* Largura da div */
    height: auto; /* Altura da div */
    background-color: white;
}

/* Configuração do TEXTO */
h1 {
    text-align: center;
    padding: 15px;
}
h2 {
    text-align: center;
    padding: 15px;
}
p {
    padding: 10px;
    line-height: 1;
}
img {
    max-width: 100%; /*Largura máxima*/
}
ul {
    padding: 10px 50px 10px 50px;
}

/*Configuração NOTA*/
div#nota {
    background-color: yellow;
}
