@charset "UTF-8";
/*CONFIGURAÇÃO GLOBAL*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
div#texto {
    background-color: white;
    width: 800px; /*LARGURA*/
}
h1 {
    padding: 10px;
    text-align: center;
}
h2 {
    padding: 10px;
    text-align: center;
}
p {
    padding: 0px 40px 10px 40px;
    text-align: justify;
}
ol {
    line-height: 1.5;
    padding: 10px 0px 10px 100px;
}
img {
    max-width: 100%;
}

/*CONFIGURAÇÃO DE NOTA*/
div#nota {
    background-color: rgba(255, 255, 0, 0.9);
}
