@charset "UTF-8";
/* Configuração GLOBAL */
* {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: black;
}

div#texto {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    background-color: rgb(29, 42, 53); /*Cor da DIV*/
    color: white; /*Cor do texto*/
    width: 700px; /*Largura da DIV*/
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7); /*Efeito sombra da DIV*/
    border-radius: 20px; /*Bordas da DIV arredondadas*/
}

/*Fonte Importado*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/*Media-Querie*/
@media (max-width: 750px) {
    div#texto {
        border-radius: 0px;
        box-shadow: 0px 0px 0px;
        width: 100%;
        position: absolute;
        height: auto;
    }
    ul#lista {
        display: flex;
        flex-direction: column; /* Coloca os itens em uma única coluna por padrão */
    }
}
/* Configuração do TEXTO */
h1, h2, h3 {
    text-align: center;
    padding: 15px;
}
p {
    padding: 10px 20px 10px 20px;
    line-height: 1.5;
    font-size: 15pt;
}
ul#lista {
    
    column-count: 2;
    padding: 0px 20px 0px 50px;
    column-gap: 20px;
}
ul {
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 20px;
}
li {
    padding: 5px;
    font-size: 15pt;
}
span {
    color: rgb(255, 72, 72);
}
hr {
    margin: 30px 0px 30px 0px;
    border: solid 2px red;
}

/*Configuração da DIV#Exemplo*/
div#exemplo {
    width: 100%;
    background-color: rgb(56, 68, 77);
}

/*Estilo das linhas de código para usuário*/
/*As tags <pre> e <code> pode quebrar em telas variáveis. Resolver problema assim que tiver tempo!!!*/
pre {
    background-color: black;
}
code {
    position: relative;
    padding: 20px;
    font-family: "Fira Code", monospace;
    color: white;
}

span.cor1 {
    color: rgba(0, 255, 0, 0.7);
}
span.cor2 {
    color: rgb(255, 0, 255);
}
span.cor3 {
    color: rgb(255, 55, 0);
}

/*Configuração do Botão*/
button {
    position: relative;
    padding: 10px;
    left: 45%;
    border-radius: 10px;
    background-color: blue;
    color: white;
    transition: 1s;
}
button:hover {
    transition: 1s;
    background-color: red;
    cursor: pointer;
}

/*Configurações da DIV#botoes*/
div.botoes {
    width: 100%;
    display: flex;
    
}
button#esquerda {
    left: 18%;
}
button#direita {
    margin-left: 18%;
}

/*Configurações de NOTA*/
div.nota {
    margin: 20px 0px 20px 0px;
    background-color: rgb(255, 244, 163);
}
h1.nota {
    color: black;
}
p.nota {
    color: black;
}
ul.nota {
    margin: 20px;
}
li.nota {
    padding: 10px;
    color: black;
}
a.nota {
    color: black;
}
a.nota:hover {
    color: red;
}

/*Configurações da TABELA*/

table {
    width: 100%;
    border-collapse: collapse;
}
tr, td {
    padding: 15px;
    text-align: left;
}
table#tabela {
    color: white;
    border-collapse: collapse;
}
tr.tb2 , td.linha {
    border: 1px solid white;
}
tr.tb2:nth-child(even) {
    background-color: rgb(29, 42, 53); /*rgb(56, 68, 77)*/
  }
  
tr.tb2:nth-child(odd) {
    background-color: rgb(56, 68, 77); /*rgb(29, 42, 53)*/
  }

  /*TABELA-DOS-NAVEGADORES*/
table#navegador {
    width: 100%;
}  
tr.nv, td.li {
    border: 1px solid white;
    padding: 25px 10px 25px 10px;
}
td.icon {
    padding: 10px 0px 10px 10px;
    margin: 0px;
    border: 1px solid white;
}

  /*Configuração do Sumário*/
  div#sumário {
    position: relative;
    width: 100%;
    background-color: rgb(25, 61, 61);
    color: white;
  }
  a {
    padding: 5px;
    color: white;
    text-decoration: underline;
    transition: 0.5s;
  }
  a:hover {
    transition: 0.5s;
    color: rgb(105, 105, 255);
    text-decoration: underline;
  }
ul#lista {
    margin: 0px;
  }
  li.item {
    margin: 0px;
  }
  