@charset "UTF-8";

/*GLOBAL*/
* {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Configução do estilo da "NOTA*/
#nota {
    background-color: rgba(255, 255, 0, 0.7);
    padding: 10px;
}
