@charset "UTF-8";
/* Configuração GLOBAL */
* {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: white;
}
div#texto {
    background-color: rgb(29, 42, 53); /*Cor da DIV*/
    color: white; /*Cor do texto*/
    width: 700px; /*Largura da DIV*/
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7); /*Efeito sombra da DIV*/
    border-radius: 20px; /*Bordas da DIV arredondadas*/
}

/* Configuração do TEXTO */
h1, h2, h3 {
    text-align: center;
    padding: 15px;
}
p {
    padding: 10px 20px 10px 20px;
    line-height: 1.5;
    font-size: 15pt;
}
ul {
    padding: 0px 20px 0px 50px;
}
li {
    padding: 5px;
    font-size: 15pt;
}
span {
    color: rgb(255, 72, 72);
}
hr {
    margin: 30px 0px 30px 0px;
    border: solid 2px red;
}

/*Estilo das linhas de código para usuário*/
pre {
    width: 100%;
}
code {
    background-color: black;
    text-align: left;
    width: 680px;
    display: block;
    color: white;
    padding: 10px 0px 10px 20px;
}
span.cor1 {
    color: rgb(0, 255, 0);
}
span.cor2 {
    color: rgb(255, 0, 255);
}
span.cor3 {
    color: rgb(255, 55, 0);
}

/*Configuração do Botão*/
button {
    position: relative;
    padding: 10px;
    left: 300px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    transition: 1s;
}
button:hover {
    transition: 1s;
    background-color: red;
    cursor: pointer;
}

/*Configurações de NOTA*/
div.nota {
    margin: 20px 0px 20px 0px;
    background-color: rgb(255, 244, 163);
}
h1.nota {
    color: black;
}
p.nota {
    color: black;
}

/*Configurações da TABELA*/
table {
    width: 100%;
    border-collapse: collapse;
}
tr, td {
    padding: 15px;
    text-align: left;
}
table#tabela {
    color: white;
    border-collapse: collapse;
}
tr.tb2 , td.linha {
    border: 1px solid white;
}
tr.tb2:nth-child(even) {
    background-color: rgb(56, 68, 77);
  }
  
tr.tb2:nth-child(odd) {
    background-color: rgb(29, 42, 53);
  }

  /*TABELA-DOS-NAVEGADORES*/
table#navegador{
    position: relative;
    width: 680px;
    left: 10px;
}
th.chrome {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}
tr.nv, td.li {
    border: 1px solid white;
    padding: 25px 10px 25px 10px;
}

  /*Configuração do Sumário*/
  div#sumário {
    position: relative;
    width: 100%;
    background-color: rgb(25, 61, 61);
    color: white;
  }
  a {
    padding: 5px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
  }
  a:hover {
    transition: 0.5s;
    color: red;
    text-decoration: underline;
  }
ul#lista {
    margin: 0px;
  }
  li.item {
    margin: 0px;
  }
  